[Desktop Entry]
Type=Application
Name=TSX Viewer
Exec=tsx-viewer
Icon=io.github.OlesyaLebedeva.tsx_viewer
Categories=Utility;
Comment=Electron TSX Viewer Application
StartupNotify=true
Terminal=false
